
The percentage of merchandise returned over a particular period can be calculated by simply dividing the number of items returned by the number that has been sold

In [5]:
#Libraries
#Dataframe and arrays
import pandas as pd
import numpy as np

In [6]:
#Determine how many of the units that were sold during the time period were later returned, 
#and divide that number by the number of units sold. Multiply your answer by 100 to calculate the percentage of units returned.

In [8]:
df = pd.read_csv('../data/data_for_returns_analysis.csv')

In [9]:
df['Rev'] = df['Quantity']*df['UnitPrice']

In [10]:
df_returns = df.loc[df['Quantity'] < 0]

In [11]:
df['Return'] = df.apply(lambda row: 1 if row.Quantity < 0 else 0, axis=1)

In [12]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Day,Month,Year,WeekNum,Rev,Return,B2B
0,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom,Wednesday,December,2010,48,54.08,0,1.0
1,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom,Wednesday,December,2010,48,12.60,0,1.0
2,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom,Wednesday,December,2010,48,12.60,0,1.0
3,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047.0,United Kingdom,Wednesday,December,2010,48,30.00,0,1.0
4,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047.0,United Kingdom,Wednesday,December,2010,48,9.90,0,1.0

In [13]:
df_returns.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Day,Month,Year,WeekNum,Rev,Return,B2B
696,C536506,22960,JAM MAKING SET WITH JARS,-6,2010-12-01 12:38:00,4.25,17897.0,United Kingdom,Wednesday,December,2010,48,-25.50,1,1.0
1172,C536548,22245,"HOOK, 1 HANGER ,MAGIC GARDEN",-2,2010-12-01 14:33:00,0.85,12472.0,Germany,Wednesday,December,2010,48,-1.70,1,1.0
1173,C536548,22631,CIRCUS PARADE LUNCH BOX,-1,2010-12-01 14:33:00,1.95,12472.0,Germany,Wednesday,December,2010,48,-1.95,1,1.0
1564,C536606,20914,SET/5 RED RETROSPOT LID GLASS BOWLS,-2,2010-12-02 09:10:00,2.95,14092.0,United Kingdom,Thursday,December,2010,48,-5.90,1,1.0
2091,C536737,22798,ANTIQUE GLASS DRESSING TABLE POT,-2,2010-12-02 13:05:00,2.95,15922.0,United Kingdom,Thursday,December,2010,48,-5.90,1,1.0

In [14]:
df['Sold'] = df.apply(lambda row: row.Quantity if row.Quantity > 0 else 0, axis=1)

In [15]:
df['Returned'] = df.apply(lambda row: row.Quantity if row.Quantity < 0 else 0, axis=1)

In [16]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Day,Month,Year,WeekNum,Rev,Return,B2B,Sold,Returned
0,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom,Wednesday,December,2010,48,54.08,0,1.0,32,0
1,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom,Wednesday,December,2010,48,12.60,0,1.0,6,0
2,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom,Wednesday,December,2010,48,12.60,0,1.0,6,0
3,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047.0,United Kingdom,Wednesday,December,2010,48,30.00,0,1.0,8,0
4,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047.0,United Kingdom,Wednesday,December,2010,48,9.90,0,1.0,6,0

In [17]:
df_return_rate = df.groupby('StockCode').agg({'Sold': ['sum'],'Returned': ['sum']})
df_return_rate.reset_index(inplace=True)

In [18]:
df_return_rate.columns = ['StockCode','Sold','Returned']

In [19]:
df_return_rate.head()

  StockCode  Sold  Returned
0     10002   823         0
1     10080   291         0
2     10120   193         0
3    10123C     5         0
4    10124A    16         0

In [20]:
#df_return_rate['return_percent_unit'] = df.apply(lambda row: (row.Returned / row.Sold)*100, axis=1)

df_return_rate['return_percent_unit'] = df.apply(lambda row: ((row.Returned / row.Sold)*100) if row.Sold != 0 else 0, axis=1)


df_return_rate.head()

  StockCode  Sold  Returned  return_percent_unit
0     10002   823         0                  0.0
1     10080   291         0                  0.0
2     10120   193         0                  0.0
3    10123C     5         0                  0.0
4    10124A    16         0                  0.0

In [23]:
df_return_rate['return_percent_unit'] = ( df_return_rate['Returned'] / df_return_rate['Sold'] ) * -100

In [35]:
df_return_rate.sort_values(by='return_percent_unit', ascending=False).head(20)

     StockCode  Sold  Returned  return_percent_unit
2568    47351B    86       -48            55.813953
3539    90176A     2        -1            50.000000
2816    84247K    23       -11            47.826087
1001     22105   506      -240            47.430830
998      22102  1533      -720            46.966732
999      22103  1008      -468            46.428571
1759     22920  3329     -1527            45.869631
1187     22313   553      -250            45.207957
1891     23056   541      -240            44.362292
1002     22106   286      -121            42.307692
1890     23055   237       -96            40.506329
3451     90101    15        -6            40.000000
997      22101   837      -324            38.709677
336      21069  1868      -701            37.526767
1468     22618    46       -17            36.956522
3546    90177D    17        -6            35.294118
3404     90050     6        -2            33.333333
174      20733   918      -300            32.679739
1079     22191   999      -322            32.232232
1892     23057   319       -96            30.094044

In [42]:
#df.loc[df.StockCode=='47351B'] #BLUE VOILE LAMPSHADE	
#df.loc[df.StockCode=='90176A'] #CLASSIC DIAMANTE NECKLACE JET		
#df.loc[df.StockCode=='84247K'] #FOLK ART GREETING CARD,PACK/12		
#df.loc[df.StockCode=='22105'] #MIRROR MOSAIC GOBLET CANDLE HOLDER
#df.loc[df.StockCode=='22102'] #MIRROR MOSAIC T-LIGHT HOLDER
#df.loc[df.StockCode=='22103'] #MIRROR MOSAIC T-LIGHT HOLDER ROUND
#df.loc[df.StockCode=='22920'] #HERB MARKER BASIL

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Day,Month,Year,WeekNum,Rev,Return,B2B,Sold,Returned
732,536520,22920,HERB MARKER BASIL,3,2010-12-01 12:43:00,0.65,14729.0,United Kingdom,Wednesday,December,2010,48,1.95,0,1.0,3,0
1749,536633,22920,HERB MARKER BASIL,2,2010-12-02 11:20:00,0.65,14901.0,United Kingdom,Thursday,December,2010,48,1.30,0,1.0,2,0
1824,536637,22920,HERB MARKER BASIL,1,2010-12-02 11:35:00,0.65,18041.0,United Kingdom,Thursday,December,2010,48,0.65,0,1.0,1,0
1831,536637,22920,HERB MARKER BASIL,1,2010-12-02 11:35:00,0.65,18041.0,United Kingdom,Thursday,December,2010,48,0.65,0,1.0,1,0
4340,537126,22920,HERB MARKER BASIL,2,2010-12-05 12:13:00,0.65,18118.0,United Kingdom,Sunday,December,2010,48,1.30,0,1.0,2,0
4852,537153,22920,HERB MARKER BASIL,12,2010-12-05 13:03:00,0.65,16718.0,United Kingdom,Sunday,December,2010,48,7.80,0,1.0,12,0
8180,537646,22920,HERB MARKER BASIL,2,2010-12-07 15:39:00,0.65,17591.0,United Kingdom,Tuesday,December,2010,49,1.30,0,1.0,2,0
9106,537792,22920,HERB MARKER BASIL,1,2010-12-08 12:56:00,0.65,16385.0,United Kingdom,Wednesday,December,2010,49,0.65,0,1.0,1,0
10180,538035,22920,HERB MARKER BASIL,1,2010-12-09 13:03:00,0.65,16065.0,United Kingdom,Thursday,December,2010,49,0.65,0,1.0,1,0
10221,538040,22920,HERB MARKER BASIL,12,2010-12-09 13:08:00,0.65,16520.0,United Kingdom,Thursday,December,2010,49,7.80,0,1.0,12,0
12277,538379,22920,HERB MARKER BASIL,1,2010-12-12 11:26:00,0.65,17126.0,United Kingdom,Sunday,December,2010,49,0.65,0,1.0,1,0
12287,538379,22920,HERB MARKER BASIL,1,2010-12-12 11:26:00,0.65,17126.0,United Kingdom,Sunday,December,2010,49,0.65,0,1.0,1,0
13540,538637,22920,HERB MARKER BASIL,4,2010-12-13 13:52:00,0.65,17611.0,United Kingdom,Monday,December,2010,50,2.60,0,1.0,4,0
17602,539421,22920,HERB MARKER BASIL,12,2010-12-17 14:21:00,0.65,14016.0,EIRE,Friday,December,2010,50,7.80,0,1.0,12,0
22262,540467,22920,HERB MARKER BASIL,12,2011-01-07 13:39:00,0.65,18198.0,United Kingdom,Friday,January,2011,1,7.80,0,1.0,12,0
26717,541260,22920,HERB MARKER BASIL,4,2011-01-16 15:44:00,0.65,16059.0,United Kingdom,Sunday,January,2011,2,2.60,0,1.0,4,0
30816,541946,22920,HERB MARKER BASIL,12,2011-01-24 11:50:00,0.65,17591.0,United Kingdom,Monday,January,2011,4,7.80,0,1.0,12,0
31233,541997,22920,HERB MARKER BASIL,5,2011-01-25 10:38:00,0.65,18077.0,United Kingdom,Tuesday,January,2011,4,3.25,0,1.0,5,0
31344,542006,22920,HERB MARKER BASIL,12,2011-01-25 11:20:00,0.65,15218.0,United Kingdom,Tuesday,January,2011,4,7.80,0,1.0,12,0
32878,542275,22920,HERB MARKER BASIL,24,2011-01-27 10:18:00,0.65,13089.0,United Kingdom,Thursday,January,2011,4,15.60,0,1.0,24,0
33171,542353,22920,HERB MARKER BASIL,12,2011-01-27 12:19:00,0.65,16700.0,United Kingdom,Thursday,January,2011,4,7.80,0,1.0,12,0
34100,542538,22920,HERB MARKER BASIL,12,2011-01-28 13:54:00,0.65,15079.0,United Kingdom,Friday,January,2011,4,7.80,0,1.0,12,0
34800,542619,22920,HERB MARKER BASIL,6,2011-01-30 15:54:00,0.65,13869.0,United Kingdom,Sunday,January,2011,4,3.90,0,1.0,6,0
35042,542647,22920,HERB MARKER BASIL,12,2011-01-31 11:46:00,0.65,18245.0,United Kingdom,Monday,January,2011,5,7.80,0,1.0,12,0
36359,542898,22920,HERB MARKER BASIL,2,2011-02-01 14:01:00,0.65,16110.0,United Kingdom,Tuesday,February,2011,5,1.30,0,1.0,2,0
38250,543197,22920,HERB MARKER BASIL,12,2011-02-04 12:36:00,0.65,12842.0,United Kingdom,Friday,February,2011,5,7.80,0,1.0,12,0
38727,543293,22920,HERB MARKER BASIL,12,2011-02-07 11:20:00,0.65,17613.0,United Kingdom,Monday,February,2011,6,7.80,0,1.0,12,0
38951,543309,22920,HERB MARKER BASIL,1,2011-02-07 12:05:00,0.65,18118.0,United Kingdom,Monday,February,2011,6,0.65,0,1.0,1,0
39174,543370,22920,HERB MARKER BASIL,12,2011-02-07 14:51:00,0.65,12359.0,Cyprus,Monday,February,2011,6,7.80,0,1.0,12,0
39422,543411,22920,HERB MARKER BASIL,12,2011-02-08 11:31:00,0.65,12576.0,Poland,Tuesday,February,2011,6,7.80,0,1.0,12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199623,568715,22920,HERB MARKER BASIL,1,2011-09-28 16:07:00,0.65,17783.0,United Kingdom,Wednesday,September,2011,39,0.65,0,1.0,1,0
201679,569025,22920,HERB MARKER BASIL,1,2011-09-30 10:08:00,0.65,18041.0,United Kingdom,Friday,September,2011,39,0.65,0,1.0,1,0
215242,570482,22920,HERB MARKER BASIL,1,2011-10-10 17:00:00,0.65,17459.0,United Kingdom,Monday,October,2011,41,0.65,0,1.0,1,0
220845,571265,22920,HERB MARKER BASIL,1,2011-10-16 11:31:00,0.65,16674.0,United Kingdom,Sunday,October,2011,41,0.65,0,1.0,1,0
221328,571282,22920,HERB MARKER BASIL,1,2011-10-16 13:24:00,0.65,15545.0,United Kingdom,Sunday,October,2011,41,0.65,0,1.0,1,0
226203,571883,22920,HERB MARKER BASIL,2,2011-10-19 13:58:00,0.65,14704.0,United Kingdom,Wednesday,October,2011,42,1.30,0,1.0,2,0
227366,572035,22920,HERB MARKER BASIL,60,2011-10-20 12:03:00,0.65,14646.0,Netherlands,Thursday,October,2011,42,39.00,0,1.0,60,0
228420,572103,22920,HERB MARKER BASIL,1,2011-10-20 15:57:00,0.65,17571.0,United Kingdom,Thursday,October,2011,42,0.65,0,1.0,1,0
228438,572103,22920,HERB MARKER BASIL,1,2011-10-20 15:57:00,0.65,17571.0,United Kingdom,Thursday,October,2011,42,0.65,0,1.0,1,0
228492,572103,22920,HERB MARKER BASIL,4,2011-10-20 15:57:00,0.65,17571.0,United Kingdom,Thursday,October,2011,42,2.60,0,1.0,4,0
236766,573066,22920,HERB MARKER BASIL,12,2011-10-27 13:53:00,0.65,16026.0,United Kingdom,Thursday,October,2011,43,7.80,0,1.0,12,0
243846,573921,22920,HERB MARKER BASIL,12,2011-11-02 08:44:00,0.65,16352.0,United Kingdom,Wednesday,November,2011,44,7.80,0,1.0,12,0
244722,574053,22920,HERB MARKER BASIL,12,2011-11-02 14:04:00,0.65,16379.0,United Kingdom,Wednesday,November,2011,44,7.80,0,1.0,12,0
254140,575117,22920,HERB MARKER BASIL,1,2011-11-08 14:22:00,0.65,12748.0,United Kingdom,Tuesday,November,2011,45,0.65,0,1.0,1,0
254150,575117,22920,HERB MARKER BASIL,1,2011-11-08 14:22:00,0.65,12748.0,United Kingdom,Tuesday,November,2011,45,0.65,0,1.0,1,0
265201,576355,22920,HERB MARKER BASIL,12,2011-11-14 16:28:00,0.65,13089.0,United Kingdom,Monday,November,2011,46,7.80,0,1.0,12,0
276018,577696,22920,HERB MARKER BASIL,1,2011-11-21 11:57:00,0.65,16406.0,United Kingdom,Monday,November,2011,47,0.65,0,1.0,1,0
279046,578045,22920,HERB MARKER BASIL,1,2011-11-22 14:43:00,0.65,17297.0,United Kingdom,Tuesday,November,2011,47,0.65,0,1.0,1,0
281568,578289,22920,HERB MARKER BASIL,6,2011-11-23 14:07:00,0.65,17841.0,United Kingdom,Wednesday,November,2011,47,3.90,0,1.0,6,0
288813,579175,22920,HERB MARKER BASIL,4,2011-11-28 14:39:00,0.65,14562.0,United Kingdom,Monday,November,2011,48,2.60,0,1.0,4,0
289464,579254,22920,HERB MARKER BASIL,12,2011-11-28 17:05:00,0.65,14511.0,United Kingdom,Monday,November,2011,48,7.80,0,1.0,12,0
291429,579506,22920,HERB MARKER BASIL,12,2011-11-29 16:31:00,0.65,15089.0,United Kingdom,Tuesday,November,2011,48,7.80,0,1.0,12,0
291526,579516,22920,HERB MARKER BASIL,1,2011-11-29 17:52:00,0.65,17841.0,United Kingdom,Tuesday,November,2011,48,0.65,0,1.0,1,0
295170,580137,22920,HERB MARKER BASIL,1,2011-12-01 19:54:00,0.65,17566.0,United Kingdom,Thursday,December,2011,48,0.65,0,1.0,1,0
296833,580372,22920,HERB MARKER BASIL,12,2011-12-02 17:04:00,0.65,16359.0,United Kingdom,Friday,December,2011,48,7.80,0,1.0,12,0
298557,580544,22920,HERB MARKER BASIL,12,2011-12-05 09:15:00,0.65,15156.0,United Kingdom,Monday,December,2011,49,7.80,0,1.0,12,0
300188,580679,22920,HERB MARKER BASIL,12,2011-12-05 14:49:00,0.65,18198.0,United Kingdom,Monday,December,2011,49,7.80,0,1.0,12,0
302930,580956,22920,HERB MARKER BASIL,2,2011-12-06 14:23:00,0.65,17841.0,United Kingdom,Tuesday,December,2011,49,1.30,0,1.0,2,0
305608,581334,22920,HERB MARKER BASIL,2,2011-12-08 12:07:00,0.65,17841.0,United Kingdom,Thursday,December,2011,49,1.30,0,1.0,2,0
305936,581400,22920,HERB MARKER BASIL,9,2011-12-08 13:36:00,0.65,14056.0,United Kingdom,Thursday,December,2011,49,5.85,0,1.0,9,0