# Criteria to Determine if Customer is An Individual or Business/ Organisation

The recommender system is going to work best when seperating individuals from businesses given that businesses are likely to be less persuaded with retargeting and other digital ad campaigns.

In [18]:
#Libraries
#Dataframe and arrays
import pandas as pd
import numpy as np

import matplotlib as plt

In [2]:
#make sure the clean file is passed in. 
df = pd.read_excel('../data/online_fashion.xlsx')

In [4]:
df['Rev'] = df['Quantity']* df['UnitPrice']

In [3]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [30]:
df.dropna(subset=['CustomerID'],inplace=True)
df_new.dropna(subset=['CustomerID'],inplace=True)

C:\Users\ellio\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [31]:
df_new.sort_values(by='UnitPrice', ascending=False)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Rev
222682,556446,22502,PICNIC BASKET WICKER 60 PIECES,1,2011-06-10 15:33:00,649.5,15098.0,United Kingdom,649.5
222680,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.5,15098.0,United Kingdom,38970.0
36165,C539438,22655,VINTAGE RED KITCHEN CABINET,-1,2010-12-17 15:11:00,295.0,16607.0,United Kingdom,-295.0
82768,543253,22655,VINTAGE RED KITCHEN CABINET,1,2011-02-04 15:32:00,295.0,14842.0,United Kingdom,295.0
4989,536835,22655,VINTAGE RED KITCHEN CABINET,1,2010-12-02 18:06:00,295.0,13145.0,United Kingdom,295.0
205759,554836,22655,VINTAGE RED KITCHEN CABINET,1,2011-05-26 16:25:00,295.0,13015.0,United Kingdom,295.0
171178,551393,22656,VINTAGE BLUE KITCHEN CABINET,1,2011-04-28 12:22:00,295.0,14973.0,United Kingdom,295.0
87141,C543632,22655,VINTAGE RED KITCHEN CABINET,-1,2011-02-10 16:22:00,295.0,14842.0,United Kingdom,-295.0
51636,540647,22655,VINTAGE RED KITCHEN CABINET,1,2011-01-10 14:57:00,295.0,17406.0,United Kingdom,295.0
118769,546480,22656,VINTAGE BLUE KITCHEN CABINET,1,2011-03-14 11:38:00,295.0,13452.0,United Kingdom,295.0
32484,539080,22655,VINTAGE RED KITCHEN CABINET,1,2010-12-16 08:41:00,295.0,16607.0,United Kingdom,295.0
133994,547814,22656,VINTAGE BLUE KITCHEN CABINET,1,2011-03-25 14:19:00,295.0,13452.0,United Kingdom,295.0
51674,C540652,22655,VINTAGE RED KITCHEN CABINET,-1,2011-01-10 15:04:00,265.5,17406.0,United Kingdom,-265.5
220298,556181,22826,LOVE SEAT ANTIQUE WHITE METAL,1,2011-06-09 11:32:00,195.0,15407.0,United Kingdom,195.0
183128,552648,22826,LOVE SEAT ANTIQUE WHITE METAL,1,2011-05-10 13:40:00,195.0,17581.0,United Kingdom,195.0
214674,C555599,22826,LOVE SEAT ANTIQUE WHITE METAL,-1,2011-06-06 10:59:00,195.0,17190.0,United Kingdom,-195.0
156737,550163,22826,LOVE SEAT ANTIQUE WHITE METAL,1,2011-04-14 16:26:00,195.0,14154.0,United Kingdom,195.0
156999,550185,22826,LOVE SEAT ANTIQUE WHITE METAL,1,2011-04-14 18:22:00,195.0,17142.0,United Kingdom,195.0
191600,553380,22826,LOVE SEAT ANTIQUE WHITE METAL,1,2011-05-16 15:29:00,195.0,17190.0,United Kingdom,195.0
112775,545900,22826,LOVE SEAT ANTIQUE WHITE METAL,1,2011-03-07 17:42:00,195.0,17817.0,United Kingdom,195.0
110843,545698,22826,LOVE SEAT ANTIQUE WHITE METAL,1,2011-03-06 14:44:00,195.0,15572.0,United Kingdom,195.0
194248,C553564,22826,LOVE SEAT ANTIQUE WHITE METAL,-1,2011-05-17 17:43:00,195.0,17581.0,United Kingdom,-195.0
114795,546088,22826,LOVE SEAT ANTIQUE WHITE METAL,1,2011-03-09 11:44:00,195.0,12881.0,United Kingdom,195.0
166111,550890,22826,LOVE SEAT ANTIQUE WHITE METAL,1,2011-04-21 12:00:00,195.0,14711.0,United Kingdom,195.0
182648,552560,22826,LOVE SEAT ANTIQUE WHITE METAL,1,2011-05-10 11:48:00,195.0,17581.0,United Kingdom,195.0
33105,C539224,22656,VINTAGE BLUE KITCHEN CABINET,-1,2010-12-16 13:01:00,175.0,17377.0,United Kingdom,-175.0
25168,538354,22826,LOVE SEAT ANTIQUE WHITE METAL,2,2010-12-10 15:45:00,175.0,16873.0,United Kingdom,350.0
201991,554348,22827,RUSTIC SEVENTEEN DRAWER SIDEBOARD,1,2011-05-24 08:49:00,165.0,13523.0,United Kingdom,165.0
245689,558627,22827,RUSTIC SEVENTEEN DRAWER SIDEBOARD,1,2011-06-30 17:40:00,165.0,14711.0,United Kingdom,165.0
101310,544911,22827,RUSTIC SEVENTEEN DRAWER SIDEBOARD,1,2011-02-24 15:01:00,165.0,16838.0,United Kingdom,165.0
...,...,...,...,...,...,...,...,...,...
480649,577314,23407,SET OF 2 TRAYS HOME SWEET HOME,2,2011-11-18 13:23:00,0.0,12444.0,Norway,0.0
139453,548318,22055,MINI CAKE STAND HANGING STRAWBERY,5,2011-03-30 12:45:00,0.0,13113.0,United Kingdom,0.0
9302,537197,22841,ROUND CAKE TIN VINTAGE GREEN,1,2010-12-05 14:02:00,0.0,12647.0,Germany,0.0
282912,561669,22960,JAM MAKING SET WITH JARS,11,2011-07-28 17:09:00,0.0,12507.0,Spain,0.0
314745,564651,23270,SET OF 2 CERAMIC PAINTED HEARTS,96,2011-08-26 14:19:00,0.0,14646.0,Netherlands,0.0
56674,541109,22168,ORGANISER WOOD ANTIQUE WHITE,1,2011-01-13 15:10:00,0.0,15107.0,United Kingdom,0.0
47070,540372,22553,PLASTERS IN TIN SKULLS,24,2011-01-06 16:41:00,0.0,13081.0,United Kingdom,0.0
446125,574879,22625,RED KITCHEN SCALES,2,2011-11-07 13:22:00,0.0,13014.0,United Kingdom,0.0
446793,574920,22899,CHILDREN'S APRON DOLLY GIRL,1,2011-11-07 16:34:00,0.0,13985.0,United Kingdom,0.0
446794,574920,23480,MINI LIGHTS WOODLAND MUSHROOMS,1,2011-11-07 16:34:00,0.0,13985.0,United Kingdom,0.0
33576,539263,22580,ADVENT CALENDAR GINGHAM SACK,4,2010-12-16 14:36:00,0.0,16560.0,United Kingdom,0.0
157042,550188,22636,CHILDS BREAKFAST SET CIRCUS PARADE,1,2011-04-14 18:57:00,0.0,12457.0,Switzerland,0.0
420404,572893,21208,PASTEL COLOUR HONEYCOMB FAN,5,2011-10-26 14:36:00,0.0,18059.0,United Kingdom,0.0
314746,564651,23268,SET OF 2 CERAMIC CHRISTMAS REINDEER,192,2011-08-26 14:19:00,0.0,14646.0,Netherlands,0.0
314747,564651,22955,36 FOIL STAR CAKE CASES,144,2011-08-26 14:19:00,0.0,14646.0,Netherlands,0.0
314748,564651,21786,POLKADOT RAIN HAT,144,2011-08-26 14:19:00,0.0,14646.0,Netherlands,0.0
298054,562973,23157,SET OF 6 NATIVITY MAGNETS,240,2011-08-11 11:42:00,0.0,14911.0,EIRE,0.0
86789,543599,84535B,FAIRY CAKES NOTEBOOK A6 SIZE,16,2011-02-10 13:08:00,0.0,17560.0,United Kingdom,0.0
436428,574138,23234,BISCUIT TIN VINTAGE CHRISTMAS,216,2011-11-03 11:26:00,0.0,12415.0,Australia,0.0
198383,554037,22619,SET OF 6 SOLDIER SKITTLES,80,2011-05-20 14:13:00,0.0,12415.0,Australia,0.0
47068,540372,22090,PAPER BUNTING RETROSPOT,24,2011-01-06 16:41:00,0.0,13081.0,United Kingdom,0.0
187613,553000,47566,PARTY BUNTING,4,2011-05-12 15:21:00,0.0,17667.0,United Kingdom,0.0
439361,574469,22385,JUMBO BAG SPACEBOY DESIGN,12,2011-11-04 11:55:00,0.0,12431.0,Australia,0.0
145208,548871,22162,HEART GARLAND RUSTIC PADDED,2,2011-04-04 14:42:00,0.0,14410.0,United Kingdom,0.0
454463,575579,22437,SET OF 9 BLACK SKULL BALLOONS,20,2011-11-10 11:49:00,0.0,13081.0,United Kingdom,0.0
454464,575579,22089,PAPER BUNTING VINTAGE PAISLEY,24,2011-11-10 11:49:00,0.0,13081.0,United Kingdom,0.0
130188,547417,22062,CERAMIC BOWL WITH LOVE HEART DESIGN,36,2011-03-23 10:25:00,0.0,13239.0,United Kingdom,0.0
379913,569716,22778,GLASS CLOCHE SMALL,2,2011-10-06 08:17:00,0.0,15804.0,United Kingdom,0.0
40089,539722,22423,REGENCY CAKESTAND 3 TIER,10,2010-12-21 13:45:00,0.0,14911.0,EIRE,0.0
436597,574175,22065,CHRISTMAS PUDDING TRINKET POT,12,2011-11-03 11:47:00,0.0,14110.0,United Kingdom,0.0

In [ ]:
#Any customer buying over 2500 worth of goods should be categorised as business

In [32]:
df_cust_value = df.groupby('CustomerID').agg({'Rev': ['sum']}).sort_values(by=[('Rev','sum')], ascending=False) #nested column names
df_cust_value.reset_index(inplace=True)
df_cust_value.columns = ['CustomerID','TotalRev']
df_cust_value.head()

   CustomerID   TotalRev
0     14646.0  279489.02
1     18102.0  256438.49
2     17450.0  187482.17
3     14911.0  132572.62
4     12415.0  123725.45

In [39]:
df_cust_value.loc[(df_cust_value['TotalRev'] < 2500) & (df_cust_value['TotalRev'] > 0)]

#df.loc[(df['column_name'] >= A) & (df['column_name'] <= B)]

      CustomerID      TotalRev
682      16477.0  2.494460e+03
683      14546.0  2.487020e+03
684      14701.0  2.486220e+03
685      15271.0  2.485820e+03
686      12913.0  2.483630e+03
687      16710.0  2.483040e+03
688      13507.0  2.479160e+03
689      12455.0  2.466860e+03
690      17164.0  2.466400e+03
691      12517.0  2.464890e+03
692      17131.0  2.463170e+03
693      13784.0  2.462790e+03
694      15932.0  2.461850e+03
695      17682.0  2.459330e+03
696      14315.0  2.456980e+03
697      14842.0  2.456800e+03
698      14659.0  2.456530e+03
699      15750.0  2.451230e+03
700      14163.0  2.445910e+03
701      13588.0  2.445120e+03
702      13949.0  2.427320e+03
703      14766.0  2.423070e+03
704      15606.0  2.422640e+03
705      13658.0  2.421470e+03
706      15089.0  2.420840e+03
707      16143.0  2.419840e+03
708      12397.0  2.409900e+03
709      17589.0  2.404170e+03
710      15980.0  2.398860e+03
711      13141.0  2.385800e+03
...          ...           ...
4292     12977.0  3.924000e+01
4293     16659.0  3.912000e+01
4294     18019.0  3.845000e+01
4295     12855.0  3.810000e+01
4296     16162.0  3.740000e+01
4297     17816.0  3.656000e+01
4298     16856.0  3.540000e+01
4299     14576.0  3.540000e+01
4300     17831.0  3.540000e+01
4301     15744.0  3.480000e+01
4302     16765.0  3.400000e+01
4303     17408.0  3.265000e+01
4304     15940.0  3.180000e+01
4305     13120.0  3.060000e+01
4306     15657.0  3.000000e+01
4307     17102.0  2.550000e+01
4308     16953.0  2.080000e+01
4309     17986.0  2.080000e+01
4310     16093.0  1.700000e+01
4311     13307.0  1.500000e+01
4312     17763.0  1.500000e+01
4313     17900.0  1.500000e+01
4314     17956.0  1.275000e+01
4315     16738.0  3.750000e+00
4316     16446.0  2.900000e+00
4317     12607.0  3.339551e-13
4318     13762.0  4.263256e-14
4319     12558.0  2.664535e-14
4320     13364.0  2.131628e-14
4321     18274.0  1.243450e-14

[3640 rows x 2 columns]

In [ ]:
###Identify customers spending over 2500 - DONE

In [41]:
df_cust_items = df.groupby('CustomerID').agg({'Quantity': ['sum']}).sort_values(by=[('Quantity','sum')], ascending=False) #nested column names
df_cust_items.reset_index(inplace=True)
df_cust_items.columns = ['CustomerID','TotalNoItem']
df_cust_items.head()

   CustomerID  TotalNoItem
0     14646.0       196719
1     12415.0        77242
2     14911.0        77180
3     17450.0        69029
4     18102.0        64122

In [44]:
df_cust_items.loc[(df_cust_items['TotalNoItem'] < 60) & (df_cust_items['TotalNoItem'] > 0)].head()

      CustomerID  TotalNoItem
4018     16665.0           59
4019     14437.0           59
4020     16828.0           59
4021     15438.0           59
4022     15100.0           58

In [45]:
df_cust_items.loc[(df_cust_items['TotalNoItem'] > 60)]

      CustomerID  TotalNoItem
0        14646.0       196719
1        12415.0        77242
2        14911.0        77180
3        17450.0        69029
4        18102.0        64122
5        17511.0        63012
6        13694.0        61803
7        14298.0        58021
8        14156.0        57025
9        16684.0        49390
10       15311.0        37720
11       16422.0        32592
12       17404.0        32324
13       16333.0        32184
14       16029.0        32148
15       13089.0        30787
16       15061.0        28590
17       15769.0        27660
18       17949.0        27571
19       17381.0        25646
20       12748.0        24210
21       13798.0        23514
22       12931.0        23377
23       17841.0        22865
24       12901.0        20915
25       17857.0        19086
26       13081.0        19021
27       13027.0        17280
28       14096.0        16335
29       13408.0        16119
...          ...          ...
3976     15703.0           66
3977     18278.0           66
3978     15432.0           65
3979     15276.0           64
3980     16509.0           64
3981     14100.0           64
3982     14924.0           64
3983     12603.0           64
3984     13560.0           64
3985     16594.0           64
3986     13992.0           64
3987     16777.0           64
3988     14353.0           64
3989     15049.0           63
3990     15017.0           63
3991     13229.0           63
3992     14495.0           62
3993     12445.0           62
3994     14054.0           62
3995     14027.0           62
3996     13079.0           62
3997     15733.0           62
3998     15705.0           62
3999     14727.0           62
4000     17904.0           62
4001     16893.0           62
4002     16835.0           61
4003     18169.0           61
4004     13462.0           61
4005     12574.0           61

[4006 rows x 2 columns]

In [26]:
df_new.sort_values(by='UnitPrice', ascending=False)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Rev
222680,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.5,15098.0,United Kingdom,38970.0
222682,556446,22502,PICNIC BASKET WICKER 60 PIECES,1,2011-06-10 15:33:00,649.5,15098.0,United Kingdom,649.5
82768,543253,22655,VINTAGE RED KITCHEN CABINET,1,2011-02-04 15:32:00,295.0,14842.0,United Kingdom,295.0
36165,C539438,22655,VINTAGE RED KITCHEN CABINET,-1,2010-12-17 15:11:00,295.0,16607.0,United Kingdom,-295.0
171178,551393,22656,VINTAGE BLUE KITCHEN CABINET,1,2011-04-28 12:22:00,295.0,14973.0,United Kingdom,295.0
118769,546480,22656,VINTAGE BLUE KITCHEN CABINET,1,2011-03-14 11:38:00,295.0,13452.0,United Kingdom,295.0
87141,C543632,22655,VINTAGE RED KITCHEN CABINET,-1,2011-02-10 16:22:00,295.0,14842.0,United Kingdom,-295.0
205759,554836,22655,VINTAGE RED KITCHEN CABINET,1,2011-05-26 16:25:00,295.0,13015.0,United Kingdom,295.0
51636,540647,22655,VINTAGE RED KITCHEN CABINET,1,2011-01-10 14:57:00,295.0,17406.0,United Kingdom,295.0
4989,536835,22655,VINTAGE RED KITCHEN CABINET,1,2010-12-02 18:06:00,295.0,13145.0,United Kingdom,295.0
133994,547814,22656,VINTAGE BLUE KITCHEN CABINET,1,2011-03-25 14:19:00,295.0,13452.0,United Kingdom,295.0
32484,539080,22655,VINTAGE RED KITCHEN CABINET,1,2010-12-16 08:41:00,295.0,16607.0,United Kingdom,295.0
51674,C540652,22655,VINTAGE RED KITCHEN CABINET,-1,2011-01-10 15:04:00,265.5,17406.0,United Kingdom,-265.5
114795,546088,22826,LOVE SEAT ANTIQUE WHITE METAL,1,2011-03-09 11:44:00,195.0,12881.0,United Kingdom,195.0
156737,550163,22826,LOVE SEAT ANTIQUE WHITE METAL,1,2011-04-14 16:26:00,195.0,14154.0,United Kingdom,195.0
191600,553380,22826,LOVE SEAT ANTIQUE WHITE METAL,1,2011-05-16 15:29:00,195.0,17190.0,United Kingdom,195.0
166111,550890,22826,LOVE SEAT ANTIQUE WHITE METAL,1,2011-04-21 12:00:00,195.0,14711.0,United Kingdom,195.0
220298,556181,22826,LOVE SEAT ANTIQUE WHITE METAL,1,2011-06-09 11:32:00,195.0,15407.0,United Kingdom,195.0
156999,550185,22826,LOVE SEAT ANTIQUE WHITE METAL,1,2011-04-14 18:22:00,195.0,17142.0,United Kingdom,195.0
182648,552560,22826,LOVE SEAT ANTIQUE WHITE METAL,1,2011-05-10 11:48:00,195.0,17581.0,United Kingdom,195.0
110843,545698,22826,LOVE SEAT ANTIQUE WHITE METAL,1,2011-03-06 14:44:00,195.0,15572.0,United Kingdom,195.0
214674,C555599,22826,LOVE SEAT ANTIQUE WHITE METAL,-1,2011-06-06 10:59:00,195.0,17190.0,United Kingdom,-195.0
112775,545900,22826,LOVE SEAT ANTIQUE WHITE METAL,1,2011-03-07 17:42:00,195.0,17817.0,United Kingdom,195.0
194248,C553564,22826,LOVE SEAT ANTIQUE WHITE METAL,-1,2011-05-17 17:43:00,195.0,17581.0,United Kingdom,-195.0
183128,552648,22826,LOVE SEAT ANTIQUE WHITE METAL,1,2011-05-10 13:40:00,195.0,17581.0,United Kingdom,195.0
33105,C539224,22656,VINTAGE BLUE KITCHEN CABINET,-1,2010-12-16 13:01:00,175.0,17377.0,United Kingdom,-175.0
25168,538354,22826,LOVE SEAT ANTIQUE WHITE METAL,2,2010-12-10 15:45:00,175.0,16873.0,United Kingdom,350.0
19428,537859,22828,REGENCY MIRROR WITH SHUTTERS,1,2010-12-08 16:11:00,165.0,14030.0,United Kingdom,165.0
140916,548490,22827,RUSTIC SEVENTEEN DRAWER SIDEBOARD,1,2011-03-31 13:13:00,165.0,12909.0,United Kingdom,165.0
73447,542349,22827,RUSTIC SEVENTEEN DRAWER SIDEBOARD,1,2011-01-27 12:10:00,165.0,15513.0,United Kingdom,165.0
...,...,...,...,...,...,...,...,...,...
314748,564651,21786,POLKADOT RAIN HAT,144,2011-08-26 14:19:00,0.0,14646.0,Netherlands,0.0
314906,564667,23084,NaN,-400,2011-08-26 15:08:00,0.0,NaN,United Kingdom,-0.0
14391,537534,20615,BLUE POLKADOT PASSPORT COVER,1,2010-12-07 11:48:00,0.0,NaN,United Kingdom,0.0
522162,580381,21758,NaN,-9,2011-12-02 17:58:00,0.0,NaN,United Kingdom,-0.0
522161,580380,21620,check,-20,2011-12-02 17:58:00,0.0,NaN,United Kingdom,-0.0
522160,580379,72225C,NaN,-144,2011-12-02 17:57:00,0.0,NaN,United Kingdom,-0.0
522159,580378,22792,damages,-73,2011-12-02 17:56:00,0.0,NaN,United Kingdom,-0.0
522158,580377,84609,damages,-29,2011-12-02 17:52:00,0.0,NaN,United Kingdom,-0.0
522157,580376,22606,check,8,2011-12-02 17:49:00,0.0,NaN,United Kingdom,0.0
14385,537534,21912,VINTAGE SNAKES & LADDERS,1,2010-12-07 11:48:00,0.0,NaN,United Kingdom,0.0
14386,537534,21891,TRADITIONAL WOODEN SKIPPING ROPE,1,2010-12-07 11:48:00,0.0,NaN,United Kingdom,0.0
14387,537534,21559,STRAWBERRY LUNCH BOX WITH CUTLERY,1,2010-12-07 11:48:00,0.0,NaN,United Kingdom,0.0
14388,537534,21531,RED RETROSPOT SUGAR JAM BOWL,2,2010-12-07 11:48:00,0.0,NaN,United Kingdom,0.0
14389,537534,20726,LUNCH BAG WOODLAND,1,2010-12-07 11:48:00,0.0,NaN,United Kingdom,0.0
14390,537534,20652,BLUE POLKADOT LUGGAGE TAG,1,2010-12-07 11:48:00,0.0,NaN,United Kingdom,0.0
173325,551689,22625,NaN,-9,2011-05-03 13:35:00,0.0,NaN,United Kingdom,-0.0
288157,562135,84847,NaN,1,2011-08-03 09:50:00,0.0,NaN,United Kingdom,0.0
173326,551690,21143,NaN,-9,2011-05-03 13:35:00,0.0,NaN,United Kingdom,-0.0
173327,551691,18098C,NaN,10,2011-05-03 13:36:00,0.0,NaN,United Kingdom,0.0
173328,551692,84685,NaN,14,2011-05-03 13:36:00,0.0,NaN,United Kingdom,0.0
339441,566593,22035,NaN,18,2011-09-13 14:59:00,0.0,NaN,United Kingdom,0.0
362365,568442,37327,damages,-131,2011-09-27 11:31:00,0.0,NaN,United Kingdom,-0.0
151038,549531,21622,POSSIBLE DAMAGES OR LOST?,-750,2011-04-08 17:05:00,0.0,NaN,United Kingdom,-0.0
151035,549529,21830,"MERCHANT CHANDLER CREDIT ERROR, STO",-576,2011-04-08 16:56:00,0.0,NaN,United Kingdom,-0.0
151034,549528,21422,NaN,-55,2011-04-08 16:44:00,0.0,NaN,United Kingdom,-0.0
151033,549527,21620,mystery! Only ever imported 1800,-1479,2011-04-08 16:03:00,0.0,NaN,United Kingdom,-0.0
241679,558238,22722,NaN,-21,2011-06-27 15:04:00,0.0,NaN,United Kingdom,-0.0
83562,543310,35954,NaN,-234,2011-02-07 12:10:00,0.0,NaN,United Kingdom,-0.0
288156,562134,22722,NaN,1,2011-08-03 09:50:00,0.0,NaN,United Kingdom,0.0
355331,567918,79163,damaged,-1,2011-09-22 17:20:00,0.0,NaN,United Kingdom,-0.0